/*几种常见颜色*/
$defaultColor:#78bbee;
$successColor:#5eb95e;
$warnColor:#dd514c;
$cancelColor:#a8b3bc;
$normalColor:#fff;
$grayColor:#f9f9f9;

$defaultActive:#6dadde;
$successActive:#58aa58;
$cancelActive:#9aa4ac;
$warnActive:#cc4c47;
$borderColor:1px solid #e3e3e3;
/*表格标题颜色*/
$tableTopColor:#d7ecff;
$tableHoverC:#f4f7fc;
$dfSizeColor:#333;
$focusColor:#78bbee;
$tableTextColor:#959595;

/*按钮*/
.mmyBtn{
	display: inline-block;
	padding:6px 12px;
	font-size:14px;
	color: #fff;
	text-align: center;
	line-height: 20px;
	text-decoration: none;
	outline: 0;
	border:0 none;
	border-radius: 4px;
	background: $defaultColor;
	transition: background-color .2s ease-out;
}
.mmyBtn:hover{
	background:$defaultActive;
}
.btnSuccess{
	background:$successColor;
}
.btnSuccess:hover{
	background:$successActive;
}
.btnWarn{
	background:$warnColor;
}
.btnWarn:hover{
	background:$warnActive;
}
.btnCancel{
	background:$cancelColor;
}
.btnCancel:hover{
	background:$cancelActive;
}
.btnNormal{
	color:#333;
	border:$borderColor;
	background: #fff;
}
.btnNormal:hover{
	background: #fff;
}
.btnNonebg{
	color:$defaultColor;
	border:1px solid $defaultColor;
	background:0 none;
}
.btnNonebg:hover{
	color:#fff;
	background: $defaultColor;
}
/*表单基础样式*/
.mmyInp{
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-indent:10px;
	border:$borderColor;
	outline:none;
	vertical-align: middle;
    background-color: #fff;
    transition: border-color .15s ease-in-out,
    			box-shadow .15s ease-in-out,
    			-webkit-box-shadow .15s ease-in-out;
}
.mmyArea{
	width: 100%;
	min-height: 100px;
	border:$borderColor;
	outline: none;
	background-color: #fff;
	transition: border-color .15s ease-in-out,
    			box-shadow .15s ease-in-out,
    			-webkit-box-shadow .15s ease-in-out;
}
.mmyInp:focus,
.mmyArea:focus{
	border-color:$focusColor;
	box-shadow: 0 0 4px $focusColor;
	-webkit-box-shadow: 0 0 4px $focusColor;
}
.mmySelect{
	width: 100px;
	height: 35px;
	line-height: 35px;
	border:$borderColor;
	vertical-align: middle;
}
/*开关样式*/
.mmyTg {
  position: relative;
  display: inline-block;
  pointer-events: auto;
  margin: -5px;
  padding: 5px; 
  input{
  	display: none;
  }
  input:checked{
  	+ .track{
  		border-color: #78bbee;
    	background-color: #78bbee;
  	}
  	+ .track .handle{
  		-webkit-transform: translate3d(20px, 0, 0);
  		transform: translate3d(20px, 0, 0);
  		background-color: #fff;
  	}
  }
  .track{
	  -webkit-transition-timing-function: ease-in-out;
	  transition-timing-function: ease-in-out;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: background-color, border;
	  transition-property: background-color, border;
	  display: inline-block;
	  box-sizing: border-box;
	  width: 51px;
	  height: 31px;
	  border: solid 2px #e6e6e6;
	  border-radius: 20px;
	  background-color: #fff;
	  content: ' ';
	  cursor: pointer;
  }
  .handle{
  	  -webkit-transition: background-color, transform 0.2s ease-out;
	  transition:background-color, transform 0.2s ease-out;
	  position: absolute;
	  display: block;
	  width: 27px;
	  height: 27px;
	  border-radius: 27px;
	  background-color: #fff;
	  cursor: pointer;
	  top: 6px;
	  left: 7px;
	  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15);
  }
}
.toggleSuccess {
  	input:checked + .track {
	  border-color: $successColor;
	  background-color: $successColor; 
	}
}
.toggleWarn {
  	input:checked + .track {
	  border-color: $warnColor;
	  background-color: $warnColor; 
	}
}
.toggleCancel {
  	input:checked + .track {
	  border-color: $cancelColor;
	  background-color: $cancelColor; 
	}
}
/*表格基础样式*/
table{
    border-collapse: collapse;
    border-spacing: 0;
}
.tableBase{
	table-layout: fixed;
	width: 100%;
	color:$dfSizeColor;
	background: #fff;
	>thead{
		>tr{
			>th{
				padding:0 5px;
				height: 38px;
				text-align: center;
			}
		}
	}
	> tbody{
		> tr{
			>td{
				padding:0 5px;
				height: 38px;
				text-align: center;
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}
		}
	}
}
.mmyTable{
	@extend .tableBase;
	> thead{
		> tr{
			>th{
				border-bottom:2px solid #ddd;
			}
			
		}
	}
	> tbody{
		> tr{
			>td{
				border-bottom:1px solid #ddd;
			}
		}
	}
}
.mmyTableBd{
	@extend .tableBase;
	> thead{
		> tr{
			>th{
				border:1px solid #ddd;
			}
			
		}
	}
	> tbody{
		> tr{
			>td{
				border:1px solid #ddd;

			}
		}
	}
}
.mmyTableTop{
	@extend .tableBase;
	> thead{
		> tr{
			>th{
				border:0 none;
				font-weight: normal;
				background:$tableTopColor;
			}
			
		}
	}
	> tbody{
		> tr:first-child{
			td{
				border-top:0;
			}
		}
		> tr{
			>td{
				border:1px solid #ddd;
				color:$tableTextColor;
			}
			>td:first-child{
				border-left:0;
			}
			>td:last-child{
				border-right:0;
			}
		}
	}
}
.tableHover{
	> tbody{
		> tr{
			transition: background-color .15s ease-in-out;
		}
		> tr:hover{
			background:$tableHoverC;
		}
	}
}
/*奇偶样式显示*/
.tableOdd{
	> tbody{
		> tr:nth-child(2n+1){
			background: $grayColor;
		}
		> tr:nth-child(2n){
			
		}

	}
}
.tableEven{
	> tbody{
		> tr:nth-child(2n){
			background: $grayColor;
		}
	}
}
/*常用链接*/
.mmyLink{
	color:#78bbee;
	text-decoration: none;
}
.mmyLinkUl{
	color:#78bbee;
	text-decoration:underline;
}
/*模拟选择下拉*/
.mmySimSelect{
	position: relative;
	display: inline-block;
	min-width: 100px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	padding:0 30px 0 10px;
	border: 1px solid #e7e7e7;
	cursor: pointer;
	background: #fff;
	span:after{
		position:absolute;
		right:10px;
		top:14px;
		width: 13px;
		height: 7px;
		content: "";
		background: url(../images/nav-icon.png) no-repeat -301px -13px;
	}
	.sdata{
		display: none;
		position:absolute;
		left:-1px;
		top:34px;
		width: calc(100% + 2px);
		text-align: center;
		border-bottom: 1px solid #e7e7e7;
		background: #fff;
		z-index: 99;
		li{
			border-left: 1px solid #e7e7e7;
			border-right: 1px solid #e7e7e7;
		}
		li:hover{
			border-width: 0;
			color:#fff;
			background:$defaultColor;
		}
	}
}
.mmySimSelect:hover{
	.sdata{
		display: block;
	}
}
/*常用样式*/
.mmyLf{
	float: left;
}
.mmyRt{
	float: right;
}
.mmyNone{
	display: none;
}
.mmyBlock{
	display: block;
}
.clearfix:after{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.bgBlack{
	position:fixed;
	left:0;
	top:0;
	right:0;
	bottom:0;
	opacity:0.6;
	filter:alpha(opacity=60);
	background:#000;
	z-index:999;
}
.mmyDots{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.mmyW50{
	width: 50px;
}
.mmyW100{
	width: 100px;
}
.mmyW150{
	width: 150px;
}
.mmyW200{
	width: 200px;
}
.mgT10{
	margin-top:10px;
}
.mgT20{
	margin-top:20px;
}
.mgB10{
	margin-bottom:10px;
}
.mgB20{
	margin-bottom:20px;
}
.mgL10{
	margin-left:10px;
}
.mgL20{
	margin-left:20px;
}
.mgR10{
	margin-right:10px;
}
.mgR20{
	margin-right:20px;
}